# See https://help.github.com/ignore-files/ for more about ignoring files.

# environment
.env

# dependencies
/node_modules/*

# compiled output
/artifacts/*
/build/*
/typechain-types/*

# cache
/cache/*